:root {
	--mainColor:#eaeaea;
	--secondaryColor:#fff;
	--borderColor:#c1c1c1;
	--mainText:black;
	--secondaryText:#4b5156;
	--themeDotBorder:#24292e;
	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;
	--buttonColor:black;
	--charcoal: #36454F;
}

html, body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body * {
    transition: 0.3s;	
}

h1, h2, h3, h4, h5, h6, strong {
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a {
	text-decoration: none;
	color:#17a2b8;
}

ul {
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


 /* KEYFRAMES */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.s1 {
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

.nav-wrapper {
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a {
	color:var(--mainText);
}

#navigation {
	margin:0;
	padding: 10px;
}

#navigation li {
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

#send-email {
	text-decoration: underline;
}

#send-email:hover {
	transform: scale(1.05);
}

#github:hover {
	transform: scale(1.05);
}

#linkedin:hover {
	transform: scale(1.05);
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot-1 {
	background-color:  #FC6058;
}

#dot-2 {
	background-color:  #FEC02F;
}

#dot-3 {
	background-color:  #2ACA3E;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.left-column {
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic {
	display: block;
	margin:0 auto;

	height: 400px;
	width: 400px;
	object-fit: cover;
	border:2px solid var(--borderColor);
}

.social-links {	
	display: flex;
	justify-content: center;
	gap: 20px;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.theme-dot {
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
    cursor: pointer;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.theme-dot:hover {
	border-width: 5px;
}

#light-mode {
	background-color: #fff;
}

#blue-mode {
	background-color: #192734;
}

#green-mode {
	background-color: #78866b;
}

#purple-mode {
	background-color: #7E4C74;
}

#settings-note {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column {
	grid-area: right-column;
	display: grid;
	align-content: center;
	padding-bottom: 100px;
}

#preview-shadow {
	background-color: var(--previewShadow);
	max-width: 400px;
	height: 220px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview {
	width: 400px;
	border: 1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

/* Load first */

.preview__self-introduction p:nth-child(2) {
	animation: fade-in 1s 0.4s backwards;
	color: #17a2b8;
	font-weight: 800;
}

.preview__self-introduction p:nth-child(6) {
	animation: fade-in 1s 0.5s backwards;
	color: #17a2b8;
	font-weight: 800;
}

.preview__self-introduction p:nth-child(8) {
	animation: fade-in 1s 0.6s backwards;
	color: #17a2b8;
	font-weight: 800;
}


.preview__self-introduction p:nth-child(11) {
	animation: fade-in 1s 0.7s backwards;
	color: #17a2b8;
	font-weight: 800;
}


/* Load after */

.preview__self-introduction p:nth-child(1) {
	animation: fade-in 1s 2s backwards;
}

.preview__self-introduction p:nth-child(5) {
	animation: fade-in 1s 2.2s backwards;
}

.preview__self-introduction p:nth-child(7) {
	animation: fade-in 1s 2.4s backwards;
}

.preview__self-introduction p:nth-child(12) {
	animation: fade-in 1s 2.6s backwards;
}

.preview__self-introduction p:nth-child(13) {
	animation: fade-in 1s 2.7s backwards;
}

.reach-out {
	animation: fade-in 1s 3s backwards;
}

.social-links a:nth-child(1) {
	animation: fade-in 1s 0.5s backwards;
}
.social-links a:nth-child(2) {
	animation: fade-in 1s 0.6s backwards;
}
.social-links a:nth-child(3) {
	animation: fade-in 1s 0.7s backwards;
}

#settings-note {
	animation: fade-in 1s 3.5s backwards;
}

.corner {
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top:-5px;
	left: -5px
}

#corner-tr {
	top:-5px;
	right: -5px
}

#corner-br {
	bottom:-5px;
	right: -5px
}

#corner-bl {
	bottom:-5px;
	left: -5px
}

.about-wrapper {
	display: flex;
	justify-content: center;	
	gap: 50px;	
	padding-bottom: 30px;	
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

#social_img {
	width: 100%;
}

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.post:hover {
	transform: scale(1.05);
}

.thumbnail {
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.post-preview {
	background-color: #fff;
	padding:15px;
}

.post-title {
	color:black;
	margin: 0;
}

.post-intro {
	color:#4b5156;
	font-size: 14px;
}
  
@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

@media screen and (max-width: 1040px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

	.right-column {
        justify-content: center;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
        margin-bottom: 50px;
    }

	.about-wrapper {
        flex-direction: column;
        align-items: center;
		gap: 0;		
    }

    .about-me,
    .my-skillset {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
	.intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 
			'right-column'            
            'left-column' 
			'nav-wrapper'           
        ;
    }

	#profile_pic {
		width: 250px;
		height: 250px;
	}

    .right-column {
		width: 250px;
		align-items:end;		
		margin: auto;
		margin-top: 20px;		
    }

	#preview {
		width: 220px;
		justify-content: center;
		margin-left: -15px;
	} 

	#preview-shadow {
		width: 250px;
		justify-content: center;		
	} 

	.preview__self-introduction p:nth-child(13) {
		display: none;
	}
}